.banner {
  height: 40px;
  justify-content: space-between;
  background-color: rgb(119,146,95);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  margin-top: 3px;
}